include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline

- var id = 'mokhov-death-history'
- var author = 'Сергей Мохов'
- var authorLink = 'https://individuumbooks.ru/authors/sergej_mohov/'
- var title = 'История смерти. Как мы боремся и принимаем'
- var publisher = 'Individuum, 2020, 232 с.'
- var headline = 'Расщепление смерти'
- var desc = 'Сергей Мохов снова написал книгу о смерти — и на этот раз её важность оценят не только знакомые с death studies читатели. По-хорошему, «Историю смерти» стоит прочесть каждому'

doctype html
html
    +head(
      `${headline}`,
      `${desc}`,
      `http://umwelt-books.ru/img/${id}-og.jpg`,
      'article'
    )
body.body_light
    +header('mini')
    div.content
        div.article
            div.article__text
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/site/mokhov-death-history.md
            div.article__data
                figure
                    img(src=`http://umwelt-books.ru/img/${id}-cover.jpg`)
                    figcaption 
                        p 
                            a(href=`${authorLink}`)=`${author}`
                        p 
                        |«
                        =`${title}`
                        |»
                        p=`${publisher}`