include ../../components/head/head
include ../../components/header/header
include ../../components/article-headline/article-headline

- var id = 'lrb-01'
- var author = 'Журнал «Логос», №1'
- var authorLink = 'http://www.logosjournal.ru/'
- var title = 'Logos Review of Books'
- var publisher = 'Издательство института Гайдара, 2020, 78 стр.'
- var headline = 'Ревью в квадрате'
- var desc = 'Знаменитый философский журнал «Логос» начал выпускать рецензионное приложение, вызывающее не только эстетическое, но и натурально физическое удовольствие'

doctype html
html
    +head(
      `${headline}`,
      `${desc}`,
      `http://umwelt-books.ru/img/${id}-og.jpg`,
      'article'
    )
body.body_light
    +header('mini')
    div.content
        div.article
            div.article__text
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/site/logos-review-of-books-1.md
            div.article__data
                figure
                    img(src=`http://umwelt-books.ru/img/${id}-cover.jpg`)
                    figcaption 
                        p 
                            a(href=`${authorLink}`)=`${author}`
                        p 
                        |«
                        =`${title}`
                        |»
                        p=`${publisher}`