include ../../components/head/head
include ../../components/header/header

- var id = 'garaev-chavs'
- var author = 'Роберт Гараев'
- var authorLink = 'https://individuumbooks.ru/authors/robert_garaev/'
- var title = 'Слово пацана. Криминальный Татарстан 1970-2010-х'
- var publisher = 'Individuum, 2020, 624 с.'
- var headline = 'В каждый город, в каждый книжный'
- var desc = '«Слово пацана» Роберта Гараева — тот случай, когда острая тема перевешивает и огрехи структуры, и мозаичность повествования, и вообще всё'

doctype html
html
    +head(
      `${headline}`,
      `${desc}`,
      `http://umwelt-books.ru/img/${id}-og.jpg`,
      'article'
    )
body.body_light
    +header('mini')
    div.content
        div.article
            div.article__text
                include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/umwelt/site/garaev-chavs.md
            div.article__data
                figure
                    img(src=`http://umwelt-books.ru/img/${id}-cover.jpg`)
                    figcaption 
                        p 
                            a(href=`${authorLink}`)=`${author}`
                        p 
                        |«
                        =`${title}`
                        |»
                        p=`${publisher}`